<template name="reviewSamplePopup">
    <div class="ui popup" style="width:300px;min-width:300px;">
        <div class="content">
            <div class="ui centered grid">
                <div class="sixteen wide column">
                    <h3>Name of Reviewer</h3>
                </div>
                <div class="sixteen wide column">
                    <h3>Rating</h3>
                </div>
                <div class="sixteen wide column">
                    <p>
                        Description
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>