<template name="frontofficeTestimonials">
	<section class="testimonials">
        <div class="container">
            <div class="ui grid">
                <div class="sixteen wide column">
                    <h2>What Our Neighbors are Saying</h2>
                    <h5>Here is what one of our neighbors has to say about Ask Your Neighbors</h5>
                    <div id="testimonials-slider">
                        <div class="slide">
                            <div class="slide-image" style="background-image: url(/images/testimonial-slide.jpg);">
                                
                            </div>
                            <div class="caption">
                                <div class="cloud">
                                    Before Ask Your Neighbors, selecting a service provider was like throwing darts blind folded. Those who report on Ask YourNeighbors have helped me make informed, logical decisions.<br />I am truly grateful.
                                </div>
                                <div class="author">
                                    <img src="/images/housewife.png">
                                    <p>
                                        Mary Rose S. Pinto<br /><span>House Wife</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="slide-image" style="background-image: url(images/testimonial-slide.jpg);">
                                
                            </div>
                            <div class="caption">
                                <div class="cloud">
                                    Before Ask Your Neighbors, selecting a service provider was like throwing darts blind folded. Those who report on Ask YourNeighbors have helped me make informed, logical decisions.<br />I am truly grateful.
                                </div>
                                <div class="author">
                                    <img src="/images/housewife.png">
                                    <p>
                                        Mary Rose S. Pinto<br /><span>House Wife</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="slide-image" style="background-image: url(/images/testimonial-slide.jpg);">
                                
                            </div>
                            <div class="caption">
                                <div class="cloud">
                                    Before Ask Your Neighbors, selecting a service provider was like throwing darts blind folded. Those who report on Ask YourNeighbors have helped me make informed, logical decisions.<br />I am truly grateful.
                                </div>
                                <div class="author">
                                    <img src="/images/housewife.png">
                                    <p>
                                        Mary Rose S. Pinto<br /><span>House Wife</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>