<template name="frontofficeHowToAsk">
	<section class="how-to-ask">
        <div class="container">
            <div class="ui grid">
                <div class="sixteen wide column">
                    <h2>How Ask Your Neighbors <br/> Helps Neighborhood Businesses</h2>
                </div>
            </div>
            <div class="ui grid">
                <div class="four wide column col-md-6">
                    <div class="how-to-tips customizable-page">
                        <div class="the-icon">
                            <img src="/images/how-to-ask.png">
                        </div>
                        <div class="description">
                            <h4>No Contracts and You Control Your Profile</h4>
                            <p>
                                Ask Your Neighbors can be turned on or off at anytime with a simple click of a button. However, we are going to be busting our butts to make sure you are getting so many profitable customers that you wouldn't dream of turning it off. You also are able to make changes to your page yourself. No having to go back and forth with a rep.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="four wide column col-md-6">
                    <div class="how-to-tips neighbors-only">
                        <div class="the-icon">
                            <img src="/images/neighbors-only.png">
                        </div>
                        <div class="description">
                            <h4>Neighbors Only</h4>
                            <p>
                                No franchises or nationally owned businesses can be on Ask Your Neighbor. Only locally owned companies.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="four wide column col-md-6">
                    <div class="how-to-tips piggy-bank">
                        <div class="the-icon">
                            <img src="/images/piggybank.png">
                        </div>
                        <div class="description">
                            <h4>We don’t take revenue from your discounts</h4>
                            <p>
                                You can use Ask Your Neighbor to offer coupons or discount your services if you choose but we won’t choke your cash flow by snatching your hard earned money.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="four wide column col-md-6">
                    <div class="how-to-tips its-free">
                        <div class="the-icon">
                            <img src="/images/handphone.png">
                        </div>
                        <div class="description">
                            <h4>Your First Three Months are Free</h4>
                            <p>
                                Let us prove to you that our system works. Your first three months are free.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="how-to-ask how-to-ask-mobile">
        <div class="container">
            <div class="ui grid">
                <div class="sixteen wide column">
                    <h2>How Ask Your Neighbors <br/> Helps Neighborhood Businesses</h2>
                    <div id="testimonials-slider">
                        <div class="slide">
                            <div class="how-to-tips customizable-page">
                                <div class="the-icon">
                                    <img src="/images/how-to-ask.png">
                                </div>
                                <div class="description">
                                    <h4>Customizable Page</h4>
                                    <p>
                                        You can post videos, pictures, descriptions, and more on your page in order to let your neighbors know why they should hire you.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="how-to-tips neighbors-only">
                                <div class="the-icon">
                                    <img src="/images/neighbors-only.png">
                                </div>
                                <div class="description">
                                    <h4>Neighbors Only</h4>
                                    <p>
                                        No franchises or nationally owned businesses can be on Ask Your Neighbor. Only locally owned companies.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="how-to-tips piggy-bank">
                                <div class="the-icon">
                                    <img src="/images/piggybank.png">
                                </div>
                                <div class="description">
                                    <h4>We don’t take revenue from your discounts</h4>
                                    <p>
                                        You can use Ask Your Neighbor to offer coupons or discount your services if you choose but we won’t choke your cash flow by snatching your hard earned money.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="how-to-tips its-free">
                                <div class="the-icon">
                                    <img src="/images/handphone.png">
                                </div>
                                <div class="description">
                                    <h4>It is Free</h4>
                                    <p>
                                        Ask Your Neighbor is Free to homeowners and businesses.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>