<template name="frontOfficeSearchBanner">
	<div class="search-banner-container search-container">
		<img src="/images/neighbor-cloud.png">

		<div class="col-md-4 col-md-offset-4">
        <div class="container">
	        <div class="ui grid">
	            <div class="sixteen wide column">
	                <div class="search-neighbors">
	                    <h4>See which services YOUR friends and neighbors recommend</h4>
	                    <form action="" method="">
	                        <div class="input-group ui padded grid">
	                            <input type="text" class="form-control fifteen wide column right attached" name=""
	                                   id="searchQuery"/>
	                            <input type="submit" class="postfix form-control one wide column left attached"
	                                   name="send" value="&#xf002;" id="search-submit"/>
	                            <button class="postfix form-control one wide column left attached clear-btn"><i class="fa fa-close" aria-hidden="true"></i></button>
	                        </div>
	                    </form>
	                    <h4 id="scrollIdentifier">or click a service below</h4>
	                </div>
	            </div>
	        </div>
	    </div>
    </div>
	</div>
</template>