<html>
<head>
    <title>AYN-EMAIL-V3</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
        *{
            font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
            color:#828282;
        }
    </style>
</head>
<body bgcolor="#FFFFFF" style="margin-left:0;margin-top:0;">
<!-- Save for Web Slices (AYN-EMAIL-V3.psd) -->
<table id="Table_01" width="742" height="911" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td colspan="13">
            <img src="images/AYN-EMAIL-V3_01.jpg" width="742" height="148" alt=""></td>
    </tr>
    <tr>
        <td colspan="13">
            <img src="images/AYN-EMAIL-V3_02.jpg" width="742" height="23" alt=""></td>
    </tr>
    <tr>
        <td rowspan="6">
            <img src="images/AYN-EMAIL-V3_03.jpg" width="20" height="616" alt=""></td>
        <td colspan="10" style="width:706px;height:284px;vertical-align:top;">
            Hello, NAME<br><br><br>
            This is just a test email, so don't worry.
        </td>
        <td colspan="2" rowspan="6">
            <img src="images/AYN-EMAIL-V3_05.jpg" width="16" height="616" alt=""></td>
    </tr>
    <tr>
        <td colspan="10">
            <img src="images/AYN-EMAIL-V3_06.jpg" width="706" height="18" alt=""></td>
    </tr>
    <tr>
        <td rowspan="2">
            <img src="images/AYN-EMAIL-V3_07.jpg" width="163" height="204" alt=""></td>
        <td style="width:376px;height:180px;vertical-align:top;border:1px solid #eaf7f7;background: #eaf7f7;-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;padding: 15px 20px;">
            <h2 style="text-align:center;">Very Important Information</h2>
        </td>
        <td colspan="8" rowspan="2">
            <img src="images/AYN-EMAIL-V3_09.jpg" width="167" height="204" alt=""></td>
    </tr>
    <tr>
        <td>
            <img src="images/AYN-EMAIL-V3_10.jpg" width="376" height="24" alt=""></td>
    </tr>
    <tr>
        <td colspan="10" style="width:706px;height:89px;vertical-align:top;">
            This is just a footnote. Not really interesting to read.
        </td>
    </tr>
    <tr>
        <td colspan="10">
            <img src="images/AYN-EMAIL-V3_12.jpg" width="706" height="21" alt=""></td>
    </tr>
    <tr>
        <td colspan="13">
            <img src="images/AYN-EMAIL-V3_13.jpg" width="742" height="15" alt=""></td>
    </tr>
    <tr>
        <td colspan="4" rowspan="2">
            <img src="images/AYN-EMAIL-V3_14.jpg" width="584" height="45" alt=""></td>
        <td>
            <a href="http://www.twitter.com" target="_blank"
               onmouseover="window.status='Follow us on Twitter!';  return true;"
               onmouseout="window.status='';  return true;">
                <img src="images/AYN-EMAIL-V3_15.jpg" width="34" height="34" border="0" alt="Follow us on Twitter!"></a></td>
        <td rowspan="2">
            <img src="images/AYN-EMAIL-V3_16.jpg" width="5" height="45" alt=""></td>
        <td>
            <a href="http://www.facebook.com" target="_blank"
               onmouseover="window.status='Like us on Facebook!';  return true;"
               onmouseout="window.status='';  return true;">
                <img src="images/AYN-EMAIL-V3_17.jpg" width="34" height="34" border="0" alt="Like us on Facebook!"></a></td>
        <td rowspan="2">
            <img src="images/AYN-EMAIL-V3_18.jpg" width="4" height="45" alt=""></td>
        <td>
            <a href="http://www.google.com" target="_blank"
               onmouseover="window.status='Connect with us on Google!';  return true;"
               onmouseout="window.status='';  return true;">
                <img src="images/AYN-EMAIL-V3_19.jpg" width="35" height="34" border="0" alt="Connect with us on Google!"></a></td>
        <td rowspan="2">
            <img src="images/AYN-EMAIL-V3_20.jpg" width="4" height="45" alt=""></td>
        <td colspan="2">
            <a href="http://www.youtube.com" target="_blank"
               onmouseover="window.status='Follow us on Youtube!';  return true;"
               onmouseout="window.status='';  return true;">
                <img src="images/AYN-EMAIL-V3_21.jpg" width="34" height="34" border="0" alt="Follow us on Youtube!"></a></td>
        <td rowspan="2">
            <img src="images/AYN-EMAIL-V3_22.jpg" width="8" height="45" alt=""></td>
    </tr>
    <tr>
        <td>
            <img src="images/AYN-EMAIL-V3_23.jpg" width="34" height="11" alt=""></td>
        <td>
            <img src="images/AYN-EMAIL-V3_24.jpg" width="34" height="11" alt=""></td>
        <td>
            <img src="images/AYN-EMAIL-V3_25.jpg" width="35" height="11" alt=""></td>
        <td colspan="2">
            <img src="images/AYN-EMAIL-V3_26.jpg" width="34" height="11" alt=""></td>
    </tr>
    <tr>
        <td colspan="13">
            <img src="images/AYN-EMAIL-V3_27.jpg" width="742" height="63" alt=""></td>
    </tr>
    <tr>
        <td>
            <img src="images/spacer.gif" width="20" height="1" alt=""></td>
        <td>
            <img src="images/spacer.gif" width="163" height="1" alt=""></td>
        <td>
            <img src="images/spacer.gif" width="376" height="1" alt=""></td>
        <td>
            <img src="images/spacer.gif" width="25" height="1" alt=""></td>
        <td>
            <img src="images/spacer.gif" width="34" height="1" alt=""></td>
        <td>
            <img src="images/spacer.gif" width="5" height="1" alt=""></td>
        <td>
            <img src="images/spacer.gif" width="34" height="1" alt=""></td>
        <td>
            <img src="images/spacer.gif" width="4" height="1" alt=""></td>
        <td>
            <img src="images/spacer.gif" width="35" height="1" alt=""></td>
        <td>
            <img src="images/spacer.gif" width="4" height="1" alt=""></td>
        <td>
            <img src="images/spacer.gif" width="26" height="1" alt=""></td>
        <td>
            <img src="images/spacer.gif" width="8" height="1" alt=""></td>
        <td>
            <img src="images/spacer.gif" width="8" height="1" alt=""></td>
    </tr>
</table>
<!-- End Save for Web Slices -->
</body>
</html>