<template name="permissionDenied">
    <div class="ui middle aligned one column centered padded grid v-h-center">
        <div class="row">
            <div class="ui error message">
                <div class="header">Error</div>
                You don't have sufficient permissions to view this page.<br>
                Please contact an administrator at <a href="mailto:{{getSupportEmail}}">{{getSupportEmail}}</a>.
            </div>
        </div>
        <div class="row">
            <a href="{{pathFor 'index'}}">Back to the homepage</a>
        </div>
    </div>
</template>