<template name="profileBusinessOwnerChangePassword">
    <div class="ui centered grid profile-form-container">
        <div class="row title-main-container">
            <div class="eight wide center aligned column">
                <h3>Change password</h3>
            </div>
        </div>
        <div class="eight wide center aligned column">
            <form class="ui form">
                <div class="field">
                    <label>Current Password</label>
                    <input type="password" id="businessOwnerChangePasswordCurrentPassword" placeholder="Current Password" class="required">
                    <p class="error-message required"></p>
                </div>
                <div class="field">
                    <label>New Password</label>
                    <input type="password" id="businessOwnerChangePasswordNewPassword" placeholder="New Password" class="required">
                    <p class="error-message required"></p>
                </div>
                <div class="field">
                    <label>Confirm new Password</label>
                    <input type="password" id="businessOwnerChangePasswordConfirmNewPassword" placeholder="Confirm Password" class="required">
                    <p class="error-message required"></p>
                </div>
                <button type="submit" class="ui orange button">Save</button>
            </form>
        </div>
    </div>
</template>